### Task 1

In [1]:
#loading necessary libirary 
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("netflix_titles.csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [6]:
df.set_index("show_id",inplace=True)

In [7]:
df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...
s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [8]:
#checking  data in depth

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8807 entries, s1 to s8807
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
 10  description   8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 825.7+ KB

In [10]:
#statistical information
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

## From above we understand that we have only one numerical feature

In [15]:
#checking for null values 

df.isnull().any()

type            False
title           False
director         True
cast             True
country          True
date_added       True
release_year    False
rating           True
duration         True
listed_in       False
description     False
dtype: bool

In [17]:
#dropping nam/missing values 
df.dropna(inplace=True)

In [19]:
df.isnull().any().sum()

0

In [20]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

In [22]:
#Standardize text values 
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.strip().str.lower()

df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s8,movie,sankofa,haile gerima,"kofi ghanaba, oyafunmike ogunlano, alexandra d...","united states, ghana, burkina faso, united kin...","september 24, 2021",1993,tv-ma,125 min,"dramas, independent movies, international movies","on a photo shoot in ghana, an american model s..."
s9,tv show,the great british baking show,andy devonshire,"mel giedroyc, sue perkins, mary berry, paul ho...",united kingdom,"september 24, 2021",2021,tv-14,9 seasons,"british tv shows, reality tv",a talented batch of amateur bakers face off in...
s10,movie,the starling,theodore melfi,"melissa mccarthy, chris o'dowd, kevin kline, t...",united states,"september 24, 2021",2021,pg-13,104 min,"comedies, dramas",a woman adjusting to life after a loss contend...
s13,movie,je suis karl,christian schwochow,"luna wedler, jannis niewöhner, milan peschel, ...","germany, czech republic","september 23, 2021",2021,tv-ma,127 min,"dramas, international movies",after most of her family is murdered in a terr...
s25,movie,jeans,s. shankar,"prashanth, aishwarya rai bachchan, sri lakshmi...",india,"september 21, 2021",1998,tv-14,166 min,"comedies, international movies, romantic movies",when the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...
s8802,movie,zinzana,majid al ansari,"ali suliman, saleh bakri, yasa, ali al-jabri, ...","united arab emirates, jordan","march 9, 2016",2015,tv-ma,96 min,"dramas, international movies, thrillers",recovering alcoholic talal wakes up inside a s...
s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,"november 20, 2019",2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,"november 1, 2019",2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...
s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,"january 11, 2020",2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,"march 2, 2019",2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

In [28]:
#converting object/categorical columns which are in wrong format
df["date_added"]=pd.to_datetime(df['date_added'], format='%d-%m-%Y', errors='coerce')

In [38]:
df['release_year']=pd.to_datetime(df['release_year'])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, s8 to s8807
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          5332 non-null   object
 1   title         5332 non-null   object
 2   director      5332 non-null   object
 3   cast          5332 non-null   object
 4   country       5332 non-null   object
 5   date_added    0 non-null      datetime64[ns]
 6   release_year  5332 non-null   datetime64[ns]
 7   rating        5332 non-null   object
 8   duration      5332 non-null   object
 9   listed_in     5332 non-null   object
 10  description   5332 non-null   object
dtypes: datetime64[ns](2), object(9)
memory usage: 628.9+ KB

In [30]:
# Clean and rename column headers
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [31]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s8,movie,sankofa,haile gerima,"kofi ghanaba, oyafunmike ogunlano, alexandra d...","united states, ghana, burkina faso, united kin...",NaT,1970-01-01 00:00:00.000001993,tv-ma,125 min,"dramas, independent movies, international movies","on a photo shoot in ghana, an american model s..."
s9,tv show,the great british baking show,andy devonshire,"mel giedroyc, sue perkins, mary berry, paul ho...",united kingdom,NaT,1970-01-01 00:00:00.000002021,tv-14,9 seasons,"british tv shows, reality tv",a talented batch of amateur bakers face off in...
s10,movie,the starling,theodore melfi,"melissa mccarthy, chris o'dowd, kevin kline, t...",united states,NaT,1970-01-01 00:00:00.000002021,pg-13,104 min,"comedies, dramas",a woman adjusting to life after a loss contend...
s13,movie,je suis karl,christian schwochow,"luna wedler, jannis niewöhner, milan peschel, ...","germany, czech republic",NaT,1970-01-01 00:00:00.000002021,tv-ma,127 min,"dramas, international movies",after most of her family is murdered in a terr...
s25,movie,jeans,s. shankar,"prashanth, aishwarya rai bachchan, sri lakshmi...",india,NaT,1970-01-01 00:00:00.000001998,tv-14,166 min,"comedies, international movies, romantic movies",when the father of the man she loves insists t...

In [44]:
# converting  duration column from strings like '125 min' to integers (e.g., 125)
df['duration_clean'] = df['duration'].str.extract('(\d+)')  # extracts the number part only
df['duration_clean'] = pd.to_numeric(df['duration_clean'], errors='coerce')  # convert to float (or int) and handle errors
df = df.drop("duration", axis=1)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\varsh\AppData\Local\Temp\ipykernel_13124\981968036.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['duration_clean'] = df['duration'].str.extract('(\d+)')  # extracts the number part only

In [45]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_clean
show_id,,,,,,,,,,,
s8,movie,sankofa,haile gerima,"kofi ghanaba, oyafunmike ogunlano, alexandra d...","united states, ghana, burkina faso, united kin...",NaT,1970-01-01 00:00:00.000001993,tv-ma,"dramas, independent movies, international movies","on a photo shoot in ghana, an american model s...",125
s9,tv show,the great british baking show,andy devonshire,"mel giedroyc, sue perkins, mary berry, paul ho...",united kingdom,NaT,1970-01-01 00:00:00.000002021,tv-14,"british tv shows, reality tv",a talented batch of amateur bakers face off in...,9
s10,movie,the starling,theodore melfi,"melissa mccarthy, chris o'dowd, kevin kline, t...",united states,NaT,1970-01-01 00:00:00.000002021,pg-13,"comedies, dramas",a woman adjusting to life after a loss contend...,104
s13,movie,je suis karl,christian schwochow,"luna wedler, jannis niewöhner, milan peschel, ...","germany, czech republic",NaT,1970-01-01 00:00:00.000002021,tv-ma,"dramas, international movies",after most of her family is murdered in a terr...,127
s25,movie,jeans,s. shankar,"prashanth, aishwarya rai bachchan, sri lakshmi...",india,NaT,1970-01-01 00:00:00.000001998,tv-14,"comedies, international movies, romantic movies",when the father of the man she loves insists t...,166

In [52]:
df['release_year'] = pd.to_datetime(df['release_year'], errors='coerce').dt.year

In [53]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_clean
show_id,,,,,,,,,,,
s8,movie,sankofa,haile gerima,"kofi ghanaba, oyafunmike ogunlano, alexandra d...","united states, ghana, burkina faso, united kin...",NaT,1970,tv-ma,"dramas, independent movies, international movies","on a photo shoot in ghana, an american model s...",125
s9,tv show,the great british baking show,andy devonshire,"mel giedroyc, sue perkins, mary berry, paul ho...",united kingdom,NaT,1970,tv-14,"british tv shows, reality tv",a talented batch of amateur bakers face off in...,9
s10,movie,the starling,theodore melfi,"melissa mccarthy, chris o'dowd, kevin kline, t...",united states,NaT,1970,pg-13,"comedies, dramas",a woman adjusting to life after a loss contend...,104
s13,movie,je suis karl,christian schwochow,"luna wedler, jannis niewöhner, milan peschel, ...","germany, czech republic",NaT,1970,tv-ma,"dramas, international movies",after most of her family is murdered in a terr...,127
s25,movie,jeans,s. shankar,"prashanth, aishwarya rai bachchan, sri lakshmi...",india,NaT,1970,tv-14,"comedies, international movies, romantic movies",when the father of the man she loves insists t...,166